// Layout
$content-width: 830px;
$line-height: 1.7;

// Font colors
$link-color: #2f659c;
$heading-color: #2f659c;
$light: #d7dce0;
$link-background-color: #d8e1ed;

// Font face
$font-face: 'Roboto', sans-serif;
$heading-font-face: 'Source Serif Pro', serif;

// Font sizes
$body-font-size: 1.1em;
$main-heading-font-size: 2.1em;
$sub-heading-font-size: 1.5em;
$post-title-font-size: 1.2em;

// Font weights
$body-font-weight: 400;
$heading-font-weight: 400;
$bold-font-weight: 700;

// Other
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
