// Layout
$content-width: 800px;
$line-height: 1.65;

// Font colors
$link-color: #326ca6;
$light: #d7dce0;
$link-background-color: #dfeef7;

// Font face
$font-face: 'Source Sans Pro', sans-serif;
$heading-font-face: 'Source Serif Pro', sans-serif;

// Font sizes
$body-font-size: 1.1em;
$main-heading-font-size: 2.1em;
$sub-heading-font-size: 1.5em;
$post-title-font-size: 1.05em;

// Font weights
$body-font-weight: 400;
$heading-font-weight: 400;
$bold-font-weight: 700;

// Other
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
