// Layout
$content-width: 820px;
$line-height: 1.6;

// Font colors
$font-color: black;
$link-color: #2f659c;
$link-hover-color: #2f659c;
$title-font-color: black;
$light: #e7edf4;

// Font face
$font-face: 'Assistant', sans-serif;
$title-face: 'Assistant', sans-serif;

// Font sizes
$body-font-size: 1em;
$main-heading-font-size: 2em;
$post-title-font-size: 1.1em;

// Font weights
$body-font-weight: 400;
$bold-font-weight: 700;
$heading-font-weight: 600;

// Other
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
