html {
  -webkit-text-size-adjust: none;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: $font-face;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
}
b, strong {
  font-weight: $bold-font-weight;
}
.katex { 
  font-size: 1em; 
}
h1 {
  font-family: $heading-font-face;
  font-size: $main-heading-font-size;
  font-weight: $heading-font-weight;
  letter-spacing: -0.5px;
  margin-top: 0em;
  margin-bottom: 0em;
}
h2 {
  font-family: $heading-font-face;
  font-size: $sub-heading-font-size;
  font-weight: $heading-font-weight;
}
h3 {
  font-family: $heading-font-face;
  font-weight: $heading-font-weight; 
}
h5 {
  font-weight: $body-font-weight;
}
p.post-title {
  font-size: $post-title-font-size;
  font-weight: $bold-font-weight;
  margin-bottom: 0;
}
p.post-subtitle {
  margin-top: 0.3em;
}
hr {
  border: 0;
  border-top: 1px solid $light;
}
a, a:visited {
  color: $link-color;
  text-decoration: none;
}
a:hover {
  background-color: $link-background-color;
  transition: .1s;
}
main {
  padding: 0 15px;
  max-width: $content-width;
  margin: 0 auto;
}
time {
  color: #898989;
  font-size: .9em;
}
.container {
  max-width: $content-width;
  margin: 0 auto;
}

/* Aside */

aside {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid lighten($light, 40%);
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1);
  nav {
    float: left;
    max-width: 800px;
    margin: 0 auto;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        float: left;
        position: relative;
        a {
          text-decoration: none;
          display: block;
          padding-left: 15px;
          padding-bottom: 15px;
          padding-right: 15px;
          line-height: 0;
        }
      }
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}
